.coment-container {
  width: 500px;
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.title {
  font-size: 1.5em;
  color: black;
  margin-bottom: 20px;
}

.text {
  font-size: 1em;
  color: gray;
  margin-bottom: 20px;
}

.autor {
  font-size: .8em;
  text-align: right;
}
